@import url('<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,ops');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #b4c8f0;
}

/* Estiliza a barra de rolagem */
body::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor do polegar (a parte móvel) */
    border-radius: 4px; /* Borda arredondada do polegar */
}

body::-webkit-scrollbar-track {
    background-color: #3b3a3a; /* Cor da faixa de rolagem (a parte fixa) */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}

input {
    width: 100%;
    height: 30px;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid #000000;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); /* Sombra del borde */
}


button {
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-size: medium;
    font-weight: 500;
    color: #03318C;
}

#button {
    border-radius: 15px;
    
    height: 45px;
    min-width: 130px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); 
    background-color: rgba(30, 0, 71, 0.5); /* Fondo del footer */
    padding: 1rem; /* Espaciado interno */
    text-align: center; /* Centra el texto */
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px; /* Altura fija */
    padding: 1rem; /* Espaciado a los lados */
    background-color: rgba(30, 0, 71, 0.5); /* Fondo con transparencia */
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); 
}

.header img {
    max-width: 180px; /* Tamaño máximo de la imagen */
    height: auto;
    padding: 2rem; /* Espaciado alrededor de la imagen */
}

.busqueda {
    flex-grow: 2; /* Aumenta el tamaño proporcional del elemento */
    max-width: 470px; /* Elimina el límite máximo de ancho */
    display: flex; /* Asegura la alineación del contenido interno */
    justify-content: flex-end; /* Alinea el contenido interno a la derecha */
    padding: 1rem; /* Espaciado a los lados */
}

/* Contenedor principal con dos secciones (izquierda y derecha) */
.main-container > section {
    display: flex; /* Alinea las secciones en fila */
    width: 100%;
    margin-top: 20px; /* Agrega espacio arriba para separar del header */
    padding: 2rem;
    align-items: center;
}

/* Parte izquierda (mis productos) */
.main-container > section > .left {
    width: 65%; /* Ocupa el 70% del ancho */
    padding-right: 5px; /* Pequeño margen entre las secciones */
}

/* Parte derecha (agregar producto) */
.main-container > section > .right {
    width: 35%; /* Ocupa el 30% del ancho */
    padding-left: 15px; /* Pequeño margen entre las secciones */
}

/* Asegura que el header tenga espacio entre su contenido y el resto de la página */
.header {
    margin-bottom: 20px; /* Añade espacio debajo del header */
}

.no-products-message {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #999;
}

.products-container {
    max-height: 70vh; /* Altura máxima */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

/* Estiliza a barra de rolagem */
.products-container::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.products-container::-webkit-scrollbar-thumb {
    background-color: #03318C;; /* Cor do polegar (a parte móvel) */
    border-radius: 2px; /* Borda arredondada do polegar */
}

.products-container::-webkit-scrollbar-track {
    background-color: #7e7d7d; /* Cor da faixa de rolagem (a parte fixa) */
}

.card {
    background-color: #ffffff;
    color: #000000;
    width: calc(100% / 4);
    padding: 8px;
    border-radius: 5px;
    border: 3px solid #000000;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7);
    position: relative; /* Esto es necesario para posicionar el botón de eliminación abajo */
}

.img-container {
    width: 100%; /* Ancho del contenedor */
    height: 300px; /* Altura fija del contenedor */
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    overflow: hidden; /* Asegura que los bordes de la imagen no sobresalgan */
}

.img-container img {
    max-width: 100%; /* Ajusta el ancho máximo */
    max-height: 100%; /* Ajusta la altura máxima */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor manteniendo sus proporciones */
}


.card-container--info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "DM Sans", sans-serif;
    margin-top: 10px;
    text-align: left; /* Alinea todo el texto a la izquierda */
    font-weight: bold;
}

.card-container--value {
    display: flex;
    justify-content: flex-start; /* Alinea los valores a la izquierda */
    gap: 1rem; /* Espacio entre los elementos dentro */
    width: 100%;
}

.delete-button {
    position: absolute; /* Esto permite que el botón se ubique dentro de la tarjeta, pero fuera del flujo normal */
    bottom: 8px; /* Lo posiciona justo en la parte inferior de la tarjeta */
    right: 8px; /* Lo posiciona en el lado derecho */
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.delete-button:hover {
    background-color: #ff3333; /* Cambio de color al pasar el cursor por encima */
}

.form-container {
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}


.button-container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.button-submit{
    background-color: #03318C;
    color:#FFFFFF ;
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); /* Sombra del borde */
}

.button-submit:hover {
    background-color: #ff3333; /* Cambio de color al pasar el cursor por encima */
}

.button-clear{
    background-color: #FFFFFF;
    color:#03318C ;
    box-shadow: 0px 0px 10px 3px rgba(31, 30, 30, 0.7); /* Sombra del borde */
}

.button-clear:hover {
    background-color: #ff3333; /* Cambio de color al pasar el cursor por encima */
}

.footer-container {
    background-color: #fdfcfd;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
}

.footer-container > p, small {
    color:#000000 ;
    font-family: "DM Sans", sans-serif;
}

/* Disposición en pantallas menores a 768px */
@media screen and (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: stretch; /* Asegura que las secciones ocupen todo el ancho */
        gap: 2rem; /* Espaciado entre las secciones */
    }

    .main-container > section > .right {
        width: 100%; /* Ocupa todo el ancho */
        order: 1; /* Se asegura de que aparezca primero */
    }

    .main-container > section > .left {
        width: 100%; /* Ocupa todo el ancho */
        order: 2; /* Se asegura de que aparezca después */
    }

    .products-container {
        max-height: 50vh; /* Altura máxima con scroll */
        overflow-y: auto; /* Barra de desplazamiento vertical */
        width: 100%; /* Asegura que ocupe todo el ancho */
    }
}

/* Disposición en pantallas menores a 468px */
@media screen and (max-width: 468px) {
    .busqueda {
        display: none; /* Oculta el botón de búsqueda */
    }
}
